﻿@model List<WirelessMedia.Models.Products>
@{
    ViewData["Title"] = "Index";
}


@* ----------- View all ----------- *@
<h1>View All</h1>
<table class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Manufacturer</th>
            <th>Supplier</th>
            <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Category</td> 
                <td>@item.Manufacturer</td>
                <td>@item.Supplier</td>
                <td>@item.UnitPrice</td>
            </tr>
        }
    </tbody>
</table>


@* ----------- Add/Update new Person ----------- *@
<h1>Add or Update Person</h1>
@using (Html.BeginForm("Index", "ProductsJSON", FormMethod.Post))
{
    WirelessMedia.Models.Products product = new WirelessMedia.Models.Products();
    <label asp-for="@product.ProductId">Product Id</label>
    <br />
    <input type="text" asp-for="@product.ProductId" name="ProductId" />
    <br />
    <br />
    <label asp-for="@product.Name">Name</label>
    <br />
    <input type="text" asp-for="@product.Name" name="Name" />
    <br />
    <br />
    <label asp-for="@product.Description">Description</label>
    <br />
    <input type="text" asp-for="@product.Description" name="Description" />
    <br />
    <br />
    <label asp-for="@product.Category">Category</label>
    <br />
    <input type="text" asp-for="@product.Category" name="Category" />
    <br />
    <br />
    <label asp-for="@product.Manufacturer">Manufacturer</label>
    <br />
    <input type="text" asp-for="@product.Manufacturer" name="Manufacturer" />
    <br />
    <br />
    <label asp-for="@product.Supplier">Supplier</label>
    <br />
    <input type="text" asp-for="@product.Supplier" name="Supplier" />
    <br />
    <br />
    <label asp-for="@product.UnitPrice">Unit Price</label>
    <br />
    <input type="text" asp-for="@product.UnitPrice" name="UnitPrice" />
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Add/Update</button>
}

@* ----------- Delete Person ----------- *@
<h1>Delete Person</h1>
@using (Html.BeginForm("Delete", "ProductsJSON", FormMethod.Post))
{
    WirelessMedia.Models.Products product = new WirelessMedia.Models.Products();
    <label asp-for="@product.ProductId">ID</label>
    <br />
    <input type="text" asp-for="@product.ProductId" name="Id" />
    <br />
    <button type="submit" name="submit" class="btn btn-danger">Delete</button>
}